#ConstraintsRow {
  .follows {
    position: relative;
.free{
  position: absolute;

}
  }
  .right-linker {
    position: absolute;
    right: -4px;
  }
  .left-linker {
    position: absolute;
    left: -4px;
  }
}