@import "../variables";
@import "../mixins";
#datesRow {
  .date-container {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    .lighten(@ionos_blue, 30%);
    background: @res;
    -webkit-appearance:none;
    input {
      width: 100%;
      background: transparent;
      border: none;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      color: @ionos_darkBrown;
      -webkit-appearance: none;
      -webkit-text-fill-color: @ionos_darkBrown;
      -webkit-opacity: 1;
    }
  }
  .follows {
    line-height: 34px;
    font-family: @font-landing-h1-light;
    text-align: right;
  }
}

.excerpt-entry {
  font-family: @font-landing-h1-light;
  color: @ionos_darkBrown;
  font-size: 95%;
  padding-bottom: 10px;
  letter-spacing: 2px;

}

#solve-modal-caller {
  margin-top: 50px;
  padding: 10px 120px;
  background: @ionos_red;
  color: @ionos_ecru;
}
#solve-modal-caller:hover {
  margin-top: 50px;
  padding: 10px 120px;
  background: @ionos_red;
}
.form-control-static {
  font-family: @font-landing-h1-light;
}