@import "../variables";
@import "../mixins";

.separator{
  color: @ionos_blue;
  margin-bottom: -10px;
}

#instance {
  padding-top: 5px;
  height: 100%;
  .form-inline {
    height: 100%;
    div[data-momentum] {
      height: 100%;
    }
  }

  .resources-row{
    margin-bottom: 5px;
    h3, h2 {
      font-family: @font-landing-h1-light;
      color: @ionos_darkBrown;
      text-transform: uppercase;
      font-size: 95%;
      font-weight: bold;
      padding-bottom: 10px;
      padding-left: 15px;
      letter-spacing: 5px;
      .cursive {
        font-family: logo;
        font-size: 130%;
      }
    }
    .resource-row{
      margin-bottom: 5px;
      height: auto;

      .btn-add, .btn-add:hover {
        .lighten(@ionos_blue, 30%) !important;
        background: @res !important;
      }

      .label-row{
        padding: 5px 0;
        label {
          font-size: 70%;
          font-family: @font-landing-h1-light;
          color: @ionos_darkBrown;
        }
      }
      .form-group {
        width: 100%;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        .lighten(@ionos_blue, 30%);
        background: @res;
        overflow: hidden;
        position: relative;
        -webkit-appearance:none;
        input, input[disabled], select, select[disabled] {
          width: 100%;
          background: transparent;
          border: none;
          -webkit-box-shadow: none;
          -moz-box-shadow: none;
          box-shadow: none;
          color: @ionos_darkBrown;
          -webkit-appearance:none;
          -webkit-text-fill-color: @ionos_darkBrown;
          -webkit-opacity: 1;
        }

        select, select[disabled] {
          width: 115%;
        }

        .select-img {
          position: absolute;
          top: 0;
          right: 7px;
          line-height: 34px;
          font-size: 150%;
        }

        #name::-webkit-input-placeholder { color:@ionos_gray; }
        #name::-moz-placeholder { color:@ionos_gray; } /* firefox 19+ */
        #name:-ms-input-placeholder { color:@ionos_gray; } /* ie */
        #name:-moz-placeholder { color:@ionos_gray; }

        #surname::-webkit-input-placeholder { color:@ionos_gray; }
        #surname::-moz-placeholder { color:@ionos_gray; } /* firefox 19+ */
        #surname:-ms-input-placeholder { color:@ionos_gray; } /* ie */
        #surname:-moz-placeholder { color:@ionos_gray; }

        #tag::-webkit-input-placeholder { color:@ionos_gray; }
        #tag::-moz-placeholder { color:@ionos_gray; } /* firefox 19+ */
        #tag:-ms-input-placeholder { color:@ionos_gray; } /* ie */
        #tag:-moz-placeholder { color:@ionos_gray; }

        #slots::-webkit-input-placeholder { color:@ionos_gray; }
        #slots::-moz-placeholder { color:@ionos_gray; } /* firefox 19+ */
        #slots:-ms-input-placeholder { color:@ionos_gray; } /* ie */
        #slots:-moz-placeholder { color:@ionos_gray; }

      }
      .remColumn {
        padding-top: 3px;
        a {
          padding: 7px 10px;
        }
      }
      .remResourceRow[disabled]{
        .lighten(@ionos_ecru, 30%);
        background: @res;
        color: @ionos_darkBrown;
        border: none;
        cursor: not-allowed;
      }
      .follows {
        line-height: 34px;
        font-family: @font-landing-h1-light;
      }
    }
    .add-row {
      .lighten(@ionos_blue, 30%) !important;
      background: @res !important;
      padding: 7px 10px;
    }
  }
  .submit {
    margin-top: 5px;
    padding: 6px 8px;
    .lighten(@ionos_blue, 30%) !important;
    background: @res !important;
    i {
      color: @ionos_blue;
    }
  }

  #parse {
    position: relative;
    overflow: hidden;
    #fileUpload {
      position: absolute;
      top: 0;
      right: 0;
      margin: 0;
      padding: 0;
      font-size: 20px;
      cursor: pointer;
      opacity: 0;
      filter: alpha(opacity=0);
    }
  }

}

#submitCourses {
  color: @ionos_orange !important;
}

.browsingRow{
  margin-top: 20px;
  margin-bottom: 10px;
  .browsingButton {
    padding: 6px 14px;
    position: relative;
    top: -5px;
  }
}