@import "../variables";
@import "../mixins";
#instancesPage{

  #instanceColumn {
    padding-top: 10px;
    padding-bottom: 10px;
    overflow: hidden;
    #instance-container{
      /*margin-left: 15px;
      margin-right: 15px;*/
      margin-right: -30px;
      padding-left: 10px;
      padding-right: 10px;
      #rowAddInstance {
        line-height: 28px;
        padding-top: 2px;
        padding-bottom: 2px;
        border-bottom: 1px solid @ionos_ecru;
        margin-right: 15px;
        span {
          font-family: @font-landing-h1-light;
          color: @ionos_darkBrown;
        }
      }
      #instanceDetails{
        height: 95%;
        overflow-x: hidden;
        overflow-y: scroll;


      }
    }
  }
  #page-selector {
    line-height: 28px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-right: 15px;

    span {
      font-family: @font-landing-h1-light;
      color: @ionos_darkBrown;
    }
  }
}


#creationModalLabelAlert {
  color: @ionos_red;
}


.modal-dialog {
  padding-top: 80px;
}
#removeInstance {
  background: @ionos_red;
  border-color: @ionos_red;
}