@import "../variables";
@import "../mixins";

.searchColumn {
  //background: ;
  padding-top: 10px;
  padding-bottom: 10px;

  .searchContainer {
    margin-left: -15px;
    margin-right: -15px;
    padding-left: 10px;
    padding-right: 10px;
    border-right: 1px solid @ionos_ecru;

    height: 100%;

  }
  #result-block{
    padding-top: 5px;
    height: 95%;
    overflow: hidden;

    .result-container{
      margin-right: -15px;
      overflow-y: scroll;
      overflow-x: hidden;
      height: 100%;
    }

    .search-result {
      padding-top: 5px;
      //padding-bottom: 5px;
      text-align: center;
      line-height: 200%;
      font-family: @font-landing-h1-light;
      cursor: pointer;
    }
    .search-result:hover {
      .lighten(@ionos_ecru, 30%);
      background: @res;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;

    }

    #chosenInstanceResult {
      margin-bottom: 5px;
      .search-result {
        .lighten(@ionos_ecru, 30%);
        background: @res;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
      }
    }

    .month:hover{
      text-decoration: underline;
      color: @ionos_blue;
    }
  }

}

.searchBlock {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  .lighten(@ionos_ecru, 30%);
  background: @res;
  span {
    background: transparent;
    border: none;
    color: @ionos_darkBrown;
  }
  input {
    width: 100%;
    background: transparent;
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    color: @ionos_ecru;
  }

  input:focus {
    width: 100%;
    background: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
}

.inline-search-container {
  height: 25px;
  position: relative;
  top: -6px;
  .searchBlock {
    height: 100%;
  input {
    height: 100%;
  }
  }
}