<template name="about">
    <div class="container-fluid basic-page" id="aboutPage">
        <div class="row full-height page">
            <div class="col-xs-10 col-xs-offset-1">
                <h3><i class="fa fa-user-secret"></i> About WIME.</h3>
                <p>Scheduling an examination session is usually a long and difficult task. Every semester students' representatives sit together to create such an exams schedule. Getting an exams schedule that satisfies every student is something really hard for them to achieve. This is the reason why we created <b>WIME</b>!</p>
                <p>The When Is My Exam <b>(WIME)</b> application solves this recurrent challenging task consisting of exams scheduling. <b>WIME</b> automates the generation of a schedule for both written and oral examinations, which optimizes as best as possible the level of comfort for each student.</p>
                <p>This website is the interface among the user and the solver. The exams scheduling problem is solved using advanced optimization techniques, using constraint programming on top of OscaR, a constraint programming library also developed at UCL.</p>
                <p><b>WIME</b> was the subject of the master thesis of two students at Université Catholique de Louvain (UCL) -- Ecole Polytechnique de Louvain (EPL) --.<br>
                    Martin Crochelet and Romain Vanwelde put their efforts together to bring this application to life.</p>
            </div>
        </div>
    </div>
</template>