<template name="landingPage">
    <div class="container-fluid" id="landing">
        <div class="row full-height">
            <div class="col-sm-12" id="landing-text">
                <div class="vertical-centered text-center">
                    <h1>Introducing <span>Wime</span>.</h1>
                    <h2>Making scheduling easy</h2>
                </div>
            </div>
        </div>
    </div>
</template>