<template name="layout">

    {{> sidebar}}
    {{> navigation}}

    <div class="pusher">
        <div id="image-bg">
            {{#momentum plugin='downAndUp'}}
                {{> yield}}
            {{/momentum}}
        </div>
    </div>

</template>