<template name="loading">
    <div class="container-fluid" id="landing">
        <div class="row full-height">
            <div class="col-sm-12" id="landing-text">
                <div class="vertical-centered text-center">
                    <h1><i class="fa fa-cog fa-spin"></i></h1>
                </div>
            </div>
        </div>
    </div>
</template>