<template name="login">

    <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="Login Modal" aria-hidden="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    {{> atForm}}
                </div>
            </div>
        </div>
    </div>
</template>
