<template name="navigation">
    <nav class="ui top fixed menu navbar navbar-fixed-top">
        <div class="container">
            <a href="/" id="W"><span class="navbar-brand">W</span></a>
            <i class="fa fa-bars" id="sidebarButton"></i>

            <div class="row">
                <div class="col-xs-4 col-xs-offset-8 text-right">
                    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" id="modalButton">
                        {{#if loggedIn}}Logout{{else}}Login{{/if}}
                    </button>
                </div>
            </div>
        </div>
    </nav>
    {{> login}}
</template>
