<template name="notfound">
    <div class="container-fluid basic-page" id="notfound">
        <div class="row full-height">
            <div class="col-xs-6 col-xs-offset-3">
                <div class="v-align">
                    <i class="fa fa-bug"></i>
                    <span>Oops ! Page not found.</span>
                </div>
            </div>
        </div>
    </div>
</template>