<template name="results">
    <div class="container-fluid basic-page" id="resultsPage">
        <div class="row full-height page">
            <div class="col-xs-3 col-sm-2 full-height searchColumn">
                <div class="searchContainer">
                    <div class="searchBlock">
                        <div class="input-group">
                            <span class="input-group-addon searchSymbol"><i class="fa fa-search"></i></span>
                            <input type="text" class="form-control" aria-describedby="searchSymbol" id="search">
                        </div>
                    </div>
                    <div id="result-block">
                        <div id="chosenInstanceResult">
                            {{#momentum plugin='slide-height'}}
                                {{# with currentInstance}}
                                    <div class="search-result">
                                        <div class="year-level">
                                            {{month}} | {{year}}
                                        </div>
                                    </div>
                                {{/with}}
                            {{/momentum}}
                        </div>
                        <div class="result-container">
                            {{#momentum plugin='fade'}}
                                {{#each matchingInstances}}
                                    {{> displaySearchResult}}
                                {{/each}}
                            {{/momentum}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-9  col-sm-10 full-height" id="instanceColumn">
                <div class="full-height" id="instance-container">
                    <div class="row full-height" id="instanceDetails">
                        <div class="col-xs-12" id="calendarPage">
                            {{# with currentInstance}}
                                {{>displayCalendar}}
                            {{/with}}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<template name="displayCalendar">
    <h2><span class="cursive">R</span>esults of {{month}}, {{year}}</h2>

    {{fakeHelper}}
    <div class="row option-row">
        <div class="col-xs-12">
            <div class="col-xs-12 options">
                {{#each selectors}}
                    <div class="option-container">
                        <h4>{{name}}</h4>
                        {{#each values}}
                            <div class="col-xs-3">
                                <label class="checkbox-inline">
                                    <input type="checkbox" id="inlineCheckbox1" value="{{val}}"> {{val}}
                                </label>
                            </div>
                        {{/each}}
                    </div>
                {{/each}}

            </div>
        </div>
    </div>
    <div class=" row calendarRow">
        <div class="col-xs-12" id="calendar-container">
            {{#with options}}
                {{> fullcalendar options }}
            {{/with}}
        </div>
    </div>
</template>