<template name="sidebar">
    {{#if firstPage}}
        <div class="ui sidebar" id="sidebarFirstPage">
            {{> sidebarContent}}
        </div>
    {{else}}
        <div class="ui sidebar" id="sidebarOtherPage">
            {{> sidebarContent}}
        </div>
    {{/if}}

</template>

<template name="sidebarContent">
    <div class="item-container">
        <a href="/">
            <div class="item text-center">
                <div class="icon">
                    <i class="fa fa-home"></i>
                </div>
                Home
            </div>
        </a>
    </div>
    <div class="item-container">

        <a href="/instances">
            <div class="item text-center">
                <div class="icon">
                    <i class="fa fa-graduation-cap"></i>
                </div>
                Instances
            </div>
        </a>
    </div>
    <div class="item-container">
        <a href="/results">
            <div class="item text-center">
                <div class="icon">
                    <i class="fa fa-graduation-cap"></i>
                </div>
                Results
            </div>
        </a>
    </div>
    <div class="item-container">
        <a href="/statistics">
            <div class="item text-center">
                <div class="icon">
                    <i class="fa fa-graduation-cap"></i>
                </div>
                Statistics
            </div>
        </a>
    </div>
    <div class="item-container" id="lastItem">
    <a href="/about">
        <div class="item text-center">
            <div class="icon">
                <i class="fa fa-info-circle"></i>
            </div>
            About
        </div>
    </a>
</div>
</template>