<template name="statistics">
    <div class="container-fluid basic-page" id="instancesPage">
        <div class="row full-height page">
            <div class="col-xs-3 full-height searchColumn">
                <div class="searchContainer">
                    <div class="searchBlock">
                        <div class="input-group">
                            <span class="input-group-addon searchSymbol"><i class="fa fa-search"></i></span>
                            <input type="text" class="form-control" aria-describedby="searchSymbol" id="search">
                        </div>
                    </div>
                    <div id="result-block">
                        <div id="chosenInstanceResult">
                            {{#momentum plugin='slide-height'}}
                                {{# with currentInstance}}
                                    <div class="search-result">
                                        <div class="year-level">
                                            {{month}} | {{year}}
                                        </div>
                                    </div>
                                {{/with}}
                            {{/momentum}}
                        </div>
                        <div class="result-container">
                            {{#momentum plugin='fade'}}
                                {{#each matchingInstances}}
                                    {{> displaySearchResult}}
                                {{/each}}
                            {{/momentum}}
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-xs-9 full-height" id="instanceColumn">
                <div class="full-height" id="instance-container">
                    <div class="row full-height" id="instanceDetails">
                        {{#momentum plugin="fade"}}
                            {{#with currentInstance}}
                                {{> displayStats}}
                            {{/with}}
                        {{/momentum}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<template name="displayStats">
    <div class="col-xs-12 full-height" id="statisticsPage">
        <link href="nv.d3.min.css" rel="stylesheet">
        <script src="nv.d3.min.js"></script>
        <h2><span class="cursive">S</span>tatistics of {{month}}, {{year}}</h2>
        {{> barPlot}}
        <div class="full-height col-xs-12" id="barPlot-container">
            <div class="full-height" id="barPlot">
                <svg></svg>
            </div>
        </div>
    </div>
</template>

<template name="barPlot">
    {{renderBarPlot}}
</template>