@import "variables";
@import "mixins";
#aboutPage {
  .page {

    padding-top: 30px;
    h3{
      font-family: @font-landing-h1;
      color: @ionos_darkBrown;
    }

    p {
      font-family: @font-landing-h1-light;
      color: @ionos_darkBrown;
      text-align: justify;
    }
  }
}