@import "variables";
@import "mixins";

#barPlot rect {
  fill: @ionos_blue;
}
.nv-axis .tick line {
  display:none;
}
.nvd3 .nv-axis line {
  fill: @ionos_darkBrown;
  stroke: @ionos_darkBrown;
}
#statisticsPage {
  h3, h2 {
    font-family: @font-landing-h1-light;
    color: @ionos_darkBrown;
    text-transform: uppercase;
    font-size: 95%;
    font-weight: bold;
    padding-bottom: 10px;
    padding-left: 15px;
    letter-spacing: 5px;
    .cursive {
      font-family: logo;
      font-size: 130%;
    }
  }
}