@font-face {
  font-family: landingH1;
  src: url(/avenir-black.ttf);
}
@font-face {
  font-family: landingH2;
  src: url(/valencia-serial-light-regular.ttf);
}
@font-face {
  font-family: landingH1-light;
  src: url(/avenir-light.ttf);
}
@font-face {
  font-family: logo;
  src: url(/brush-script.ttf);
}