@import "variables";

#landing {
  height: 100%;

  #landing-text {
    line-height: 150%;
    height: 100%;
    .vertical-centered {
      position: relative; // to keep horizontal positionnement
      top: 15%;
      h1 {
        font-family: @font-landing-h1;
        font-size: 7em;
        font-weight: bold;
        color: @ionos_white;
        span {
          text-transform: uppercase;
          font-size: 0.7em;
        }
      }
      h2 {
        font-family: @font-landing-h2;
        font-size: 3em;
        color: @ionos_white;
      }
    }
  }
}