@import "variables";
@import "utils";
@import "mixins";


html {
  height: 100%;
  min-width: 540px;

  font-family: @font-landing-h1 !important;
  body {
    height: 100%;

    .pusher {
      height: 100%;
      overflow: hidden;
      #image-bg{
        height: 100%;
        background: url(/landing_image.jpg) no-repeat center;
        background-size: cover;
        div[data-momentum]{
          height: 100%;
          .basic-page {
            height: 100%;
            padding: 110px @distance-top 0 @distance-top;
          }

          .page {
            .lighten(@ionos_brightGreen, 100%);
            background: @res;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
          }
        }
      }
    }
  }
}


.modal-backdrop {
  z-index: 0 !important;
  display: none;
}