@import "variables";

nav {

  #W {
    position: absolute;
    top: @distance-top;
    .navbar-brand {
      padding-left: 20px;
      font-size: 5em;
      font-family: logo;
      color: @ionos_blue;

    }
    width: @W-width;
    text-align: center;
    left: @distance-top;
    @media (min-width: 768px) {
      left: @distance-top + 20px;
    }
  }

  i {
    color: @ionos_white;

    position: absolute;
    top: @distance-top + 4px !important;
    left: @distance-top + @W-width + @menu-space !important;
    font-size: 3em !important;
    cursor: pointer;

  }

  .row {
    padding-top: @distance-top+3px;
    button{
      background: transparent;
      border: none;
      box-shadow: none;
      font-family: @font-landing-h1-light;
      color: @ionos_white;

    }
    button:hover {
      color: @ionos_darkBrown;
      background: none;
    }
  }

}