@import "variables";

#notfound {
  color: @ionos_darkBrown;
  .v-align {
    display: table;
    width: 500px;
    height: 300px;
    margin: auto;
    i {
      font-size: 500%;
      text-align: right;
      display: table-cell;
      vertical-align: middle;
      padding-right: 5px;
    }
    span {
      text-align: left;
      display: table-cell;
      vertical-align: middle;
      padding-left: 5px;
      font-family: @font-landing-h1;
      font-weight: bold;

    }
  }
}