@import "variables";
@import "mixins";

#resultsPage {

  .page {

  }
  h3, h2 {
    font-family: @font-landing-h1-light;
    color: @ionos_darkBrown;
    text-transform: uppercase;
    font-size: 95%;
    font-weight: bold;
    padding-bottom: 10px;
    padding-left: 15px;
    letter-spacing: 5px;
    .cursive {
      font-family: logo;
      font-size: 130%;
    }
  }
  #instanceColumn{
    padding-bottom: 11px;
    overflow: hidden;
    #instanceDetails{
      overflow-x:hidden;
      overflow-y: scroll;
      margin-right: -30px;
      padding-right: 30px;
      #calendarPage {
        #calendar-container {
          overflow:hidden;
          //height: 100%;
          #resultsCalendar{
            margin-right: -30px;
            padding-right: 30px;
          }
        }
        .option-row{
          overflow: hidden;
          margin-right: -100px;
          h4 {
            font-family: @font-landing-h1-light;
            color: @ionos_darkBrown;
            text-transform: capitalize;
            letter-spacing: 5px;
          }

          .options {
            padding-left: 50px;
            margin-right: -30px;
            padding-right: 30px;
            overflow-y:scroll;
          }
          margin-bottom: 20px;
        }

        .calendarRow {
          margin-right: -30px;
          table {
            /*.lighten(@ionos_red, 30%);
            background: @res;*/
            th, .fc-day-number{
              color: @ionos_red;
              font-weight: bold;
              font-family: @font-landing-h1-light;
            }

            .fc-day-grid-event {
              padding: 5px auto;
              -webkit-border-radius: 5px;
              -moz-border-radius: 5px;
              border-radius: 5px;
              background: transparent;
              font-weight: bold;
              color: @ionos_darkBrown;
              font-family: @font-landing-h1-light;
              border: none
            }
          }

          .fc-unthemed th, .fc-unthemed td, .fc-unthemed thead, .fc-unthemed tbody, .fc-unthemed .fc-divider, .fc-unthemed .fc-row, .fc-unthemed .fc-popover {
            border-color: @ionos_red;
          }
        }
      }
    }
  }

}

.fc-unthemed {
  border: red !important;
}
