@import "variables";


.sidebar {
  width: auto !important;
  padding: 15% 10px 0 10px;

  .item-container{
    a {
      text-decoration: none;

      .item {
        cursor: pointer;
        padding-top: 10px;
        min-width: @distance-top + @W-width - 10px;
        padding-bottom: 10px;

        vertical-align: middle;
        margin: 10px auto 0.5em !important;

        font-family: @font-landing-h1;
        font-weight: bold;
      }

      .item:hover {
        border-radius: 5px;
      }


    }
    border-bottom: 1px solid;

  }
}


#lastItem {
  border: none;
}

#sidebarFirstPage{
  background: rgba(red(@ionos_ecru),green(@ionos_ecru), blue(@ionos_ecru), 70%) !important;

  a {
    .item {
      color: @ionos_blue;
      border-color:  @ionos_darkBlue;
    }
    .item:hover {
      background: rgba(red(@ionos_brown), green(@ionos_brown), blue(@ionos_brown), 30%);
    }
  }
}

#sidebarOtherPage {
  background: rgba(red(@ionos_ecru),green(@ionos_ecru), blue(@ionos_ecru), 70%) !important;
  a {
    .item {
      color: @ionos_blue;
      border-color:  @ionos_darkBlue;
    }
    .item:hover {
      background: rgba(red(@ionos_brown), green(@ionos_brown), blue(@ionos_brown), 30%);
    }
  }

}
