@import "variables";
@import "mixins";

#statisticsPage {
	.bar {
	  fill: @ionos_blue;
	}
	
	.bar:hover {
	  fill: @ionos_darkBrown;
	}
	
	.axis {
	  font: 10px sans-serif;
	}
	
	.axis path,
	.axis line {
	  fill: none;
	  stroke: #000;
	  shape-rendering: crispEdges;
	}
	
	.x.axis path {
	  display: none;
	}
	
}