@import "variables";
@import "mixins";

.full-height {
  height: 100%;
}

.full-width {
  width: 100%;
}

.no-padding {
  padding: 0 0 0 0;
}

.debug {
  background: red;
}


.btn-add {
  position: relative;
  top: -3px;
  right: -9px;
  .lighten(@ionos_ecru, 30%);
  background: @res;
  color: @ionos_darkBrown;
  border: none;
  padding: 3px 9px;
  line-height: 19px;
}
.btn-add:hover {
  color: @ionos_darkBlue;
  .lighten(@ionos_brown, 20%);
  background: @res;
}

.btn-primary, {
  background: @ionos_brightGreen;
  border-color: @ionos_brightGreen;
}

.btn-primary:hover {
  background: @ionos_brightGreen;
  border-color: @ionos_brightGreen;
  color: @ionos_darkBrown;
}
