@ionos_orange:    rgb(213, 174, 133);
@ionos_brown:     rgb(136, 105,  72);
@ionos_white:     rgb(254, 254, 254);
@ionos_darkBrown: rgb( 60,  43,  25);
@ionos_darkBlue:  rgb( 19,  50,  60);
@ionos_blue:      rgb( 72, 120, 136);

//@ionos_rose:  rgb(162, 27, 105);
@ionos_rose:  rgb(102, 99, 238);

@ionos_brightGreen: rgb(116, 149, 130);

@ionos_gray:   rgb(169, 162, 153);
@ionos_green:  rgb(188, 195, 141);
@ionos_ecru:   rgb(233, 223, 211);
@ionos_red:    rgb(127,  33,  52);
//@ionos_blue:   rgb( 40,  57,  89);

@ionos_calendar: #E5A997;
@font-landing-h1: landingH1;//"Avenir Black", serif;
@font-landing-h1-light: landingH1-light;
@font-landing-h2: landingH2;

@distance-top: 50px;
@W-width: 75px;
@menu-space: 20px;