
<template name="displayConstraintsOfInstance">
    <div class="row resources-row" id="ConstraintsRow">
        <div class="col-xs-12">

            <h3><span class="cursive">C</span>onstraints</h3>

            {{#momentum plugin='slide-height'}}
                {{#each constraints}}
                    {{> displayConstraintOfInstance}}
                {{/each}}
            {{/momentum}}

            {{#momentum plugin='slide-height'}}
                {{#if editing}}
                    <h3><span class="cursive">N</span>ew <span class="cursive">c</span>onstraints</h3>
                    <div class="row">
                        <div class="col-xs-11 col-xs-offset-1">
                            <h2><span class="cursive">F</span>ixed</h2>
                        </div>
                    </div>
                    <div>
                        {{> editConstraintFixedOfInstance}}
                    </div>
                    <div class="row">
                        <div class="col-xs-1 col-xs-offset-11">
                            <a class="btn btn-default btn-add add-row" id="addConstraintFixedRow"><i class="fa fa-plus"></i></a>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-11 col-xs-offset-1">
                            <h2><span class="cursive">U</span>available</h2>
                        </div>
                    </div>
                    <div>
                        {{> editConstraintUnavailableOfInstance}}
                    </div>
                    <div class="row">
                        <div class="col-xs-1 col-xs-offset-11">
                            <a class="btn btn-default btn-add add-row" id="addConstraintUnavailableRow"><i class="fa fa-plus"></i></a>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-11 col-xs-offset-1">
                            <h2><span class="cursive">O</span>ral</h2>
                        </div>
                    </div>
                    <div>
                        {{> editConstraintOralOfInstance}}
                    </div>
                    <div class="row">
                        <div class="col-xs-1 col-xs-offset-11">
                            <a class="btn btn-default btn-add add-row" id="addConstraintOralRow"><i class="fa fa-plus"></i></a>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-11 col-xs-offset-1">
                            <h2><span class="cursive">M</span>ultislot</h2>
                        </div>
                    </div>
                    <div>
                        {{> editConstraintMultislotOfInstance}}
                    </div>
                    <div class="row">
                        <div class="col-xs-1 col-xs-offset-11">
                            <a class="btn btn-default btn-add add-row" id="addConstraintMultislotRow"><i class="fa fa-plus"></i></a>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-11 col-xs-offset-1">
                            <h2><span class="cursive">P</span>rof-<span class="cursive">U</span>navailable</h2>
                        </div>
                    </div>
                    <div>
                        {{> editConstraintProfUnavailableOfInstance}}
                    </div>
                    <div class="row">
                        <div class="col-xs-1 col-xs-offset-11">
                            <a class="btn btn-default btn-add add-row" id="addConstraintProfUnavailableRow"><i class="fa fa-plus"></i></a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-1 col-xs-offset-11">
                            <a class="btn btn-default btn-add submit" id="submitConstraints" data-toggle="popover" data-placement="left"
                               title="submit Constraints"><i class="fa fa-cloud"></i></a>
                        </div>
                    </div>
                {{/if}}
            {{/momentum}}
        </div>
    </div>
</template>

<template name="displayConstraintOfInstance">
    <div class="row resource-row" Constraint>

        <div class="col-xs-3 col-xs-offset-1">
            <div class="form-group">
                <select disabled  class="form-control" id="resource" value="{{resourceName}}">
                    <option>{{resourceName}}</option>
                </select>
            </div>
            <span class="follows right-linker">is</span>
        </div>

        <div class="col-xs-2">
            <div class="form-group">
                <select disabled  class="form-control" id="type" value="{{constraintType}}">
                    <option>{{constraintType}}</option>
                </select>
            </div>
        </div>
        {{#if slots}}
            <div class="col-xs-1 follows"><span class="free">for slots</span></div>
            <div class="col-xs-4">
                <div class="form-group">
                    <input disabled  type="text" class="form-control" id="slots" value="{{slots}}">
                </div>
            </div>
            <div class="col-xs-1 remColumn">
                <a {{disabled}} class="btn btn-default btn-add remResourceRow"><i class="fa fa-times"></i></a>
            </div>
        {{else}}

            {{#if nSlots}}
                {{#if nStudentsPerSlot}}
                    <div class="col-xs-1 follows">of</div>
                    <div class="col-xs-1">
                        <div class="form-group">
                            <input disabled  type="number" class="form-control" id="nSlots" value="{{nSlots}}">
                        </div>
                    </div>
                    <div class="col-xs-1 follows"><span class="free">slots with</span></div>
                    <div class="col-xs-1">
                        <div class="form-group">
                            <input disabled  type="number" class="form-control" id="nStudentsPerSlot" value="{{nStudentsPerSlot}}">
                        </div>
                    </div>
                    <div class="col-xs-1 follows">students</div>
                    <div class="col-xs-1 remColumn">
                        <a {{disabled}} class="btn btn-default btn-add remResourceRow"><i class="fa fa-times"></i></a>
                    </div>
                {{else}}
                    <div class="col-xs-1 follows">of</div>
                    <div class="col-xs-1">
                        <div class="form-group">
                            <input disabled  type="number" class="form-control" id="nSlots" value="{{nSlots}}">
                        </div>
                    </div>
                    <div class="col-xs-2 follows"><span class="free">contiguous slots</span></div>

                    <div class="col-xs-1 remColumn col-xs-offset-1">
                        <a {{disabled}} class="btn btn-default btn-add remResourceRow"><i class="fa fa-times"></i></a>
                    </div>
                {{/if}}
            {{/if}}
        {{/if}}


    </div>
</template>

<template name="editConstraintFixedOfInstance">

    <div class="row resource-row editionRow" ConstraintEdition ConstraintFixed>
        <div class="col-xs-1 col-xs-offset-1 text-right label-row">
            <label for="name">New constraint</label>
        </div>

        <div class="col-xs-3">
            <div class="form-group">
                <select class="form-control" id="resource" value="">
                    {{#each possibleResource}}
                        <option value="{{_id}}">{{tag}}</option>
                    {{/each}}
                </select>
            </div>
        </div>

        <div class="col-xs-2 follows"><span class="free">is fixed for slots</span></div>
        <div class="col-xs-4">
            <div class="form-group">
                <input  type="text" class="form-control" id="slots" placeholder="slot1, slot2, etc...">
            </div>
        </div>
        <div class="col-xs-1 remColumn">
            <a class="btn btn-default btn-add remEditionRow"><i class="fa fa-times"></i></a>
        </div>

    </div>


</template>

<template name="editConstraintUnavailableOfInstance">

    <div class="row resource-row editionRow" ConstraintEdition ConstraintUnavailable>
        <div class="col-xs-1 col-xs-offset-1 text-right label-row">
            <label for="name">New constraint</label>
        </div>

        <div class="col-xs-3">
            <div class="form-group">
                <select class="form-control" id="resource" value="">
                    {{#each possibleResource}}
                        <option value="{{_id}}">{{tag}}</option>
                    {{/each}}
                </select>
            </div>
        </div>

        <div class="col-xs-2 follows"><span class="free">is unavailable for slots</span></div>
        <div class="col-xs-4">
            <div class="form-group">
                <input  type="text" class="form-control" id="slots" placeholder="slot1, slot2, etc...">
            </div>
        </div>
        <div class="col-xs-1 remColumn">
            <a class="btn btn-default btn-add remEditionRow"><i class="fa fa-times"></i></a>
        </div>

    </div>


</template>

<template name="editConstraintOralOfInstance">

    <div class="row resource-row editionRow" ConstraintEdition ConstraintOral>
        <div class="col-xs-1 col-xs-offset-1 text-right label-row">
            <label for="name">New constraint</label>
        </div>

        <div class="col-xs-3">
            <div class="form-group">
                <select class="form-control" id="resource" value="">
                    {{#each possibleResource}}
                        <option value="{{_id}}">{{tag}}</option>
                    {{/each}}
                </select>
            </div>
        </div>

        <div class="col-xs-1 follows"><span class="free">is oral of</span></div>
        <div class="col-xs-1">
            <div class="form-group">
                <input  type="number" class="form-control" id="nSlots" value="">
            </div>
        </div>
        <div class="col-xs-1 follows"><span class="free">slots with</span></div>
        <div class="col-xs-1">
            <div class="form-group">
                <input  type="number" class="form-control" id="nStudentsPerSlot" value="">
            </div>
        </div>
        <div class="col-xs-2 follows">students</div>
        <div class="col-xs-1 remColumn">
            <a class="btn btn-default btn-add remEditionRow"><i class="fa fa-times"></i></a>
        </div>

    </div>


</template>

<template name="editConstraintMultislotOfInstance">

    <div class="row resource-row editionRow" ConstraintEdition ConstraintMultislot>
        <div class="col-xs-1 col-xs-offset-1 text-right label-row">
            <label for="name">New constraint</label>
        </div>

        <div class="col-xs-3">
            <div class="form-group">
                <select class="form-control" id="resource" value="">
                    {{#each possibleResource}}
                        <option value="{{_id}}">{{tag}}</option>
                    {{/each}}
                </select>
            </div>
        </div>

        <div class="col-xs-2 follows"><span class="free">is multislot of</span></div>
        <div class="col-xs-1">
            <div class="form-group">
                <input  type="number" class="form-control" id="nSlots" value="">
            </div>
        </div>
        <div class="col-xs-2 follows"><span class="free">contiguous slots</span></div>

        <div class="col-xs-1 remColumn col-xs-offset-1">
            <a class="btn btn-default btn-add remEditionRow"><i class="fa fa-times"></i></a>
        </div>

    </div>


</template>

<template name="editConstraintProfUnavailableOfInstance">

    <div class="row resource-row editionRow" ConstraintEdition ConstraintProfUnavailable>
        <div class="col-xs-1 col-xs-offset-1 text-right label-row">
            <label for="name">New constraint</label>
        </div>

        <div class="col-xs-3">
            <div class="form-group">
                <select class="form-control" id="resource" value="">
                    {{#each possibleResource}}
                        <option value="{{_id}}">{{name}}, {{surname}}</option>
                    {{/each}}
                </select>
            </div>
        </div>

        <div class="col-xs-2 follows"><span class="free">is unavailable for slots</span></div>
        <div class="col-xs-4">
            <div class="form-group">
                <input  type="text" class="form-control" id="slots" placeholder="slot1, slot2, etc...">
            </div>
        </div>
        <div class="col-xs-1 remColumn">
            <a class="btn btn-default btn-add remEditionRow"><i class="fa fa-times"></i></a>
        </div>

    </div>


</template>