<template name="displayExcerpt">

    {{#with currentInstance}}
        <div class="row resources-row" id="datesRow">
            <div class="col-xs-12">

                <h3><span class="cursive">D</span>ates</h3>
                <div class="row">
                    <div class="col-xs-4 <!--col-xs-offset-1-->">
                        <div class="row">
                            <div class="col-xs-5 follows">Starting day</div>
                            <div class="col-xs-7 date-container">
                                <input {{disabled}} type="text" class="form-control datepicker" id="startingDay" value="{{startingDay}}">
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="row">
                            <div class="col-xs-4 follows">Ending day</div>
                            <div class="col-xs-8 date-container">
                                <input {{disabled}} type="text" class="form-control datepicker" id="endingDay" value="{{endingDay}}">
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div class="row">
                            <div class="col-xs-7 follows"># slots / day</div>
                            <div class="col-xs-5 date-container">
                                <input {{disabled}} type="number" class="form-control" id="nSessionsPerDay" value="{{nSessionsPerDay}}">
                            </div>
                        </div>
                    </div>
                    {{#momentum plugin='slide-height'}}
                        {{#if editing}}
                            <div class="col-xs-1">
                                <a class="btn btn-default btn-add submit" id="submitDates" data-toggle="popover" data-placement="left"
                                   title="submit dates"><i class="fa fa-cloud"></i></a>
                            </div>
                        {{/if}}
                    {{/momentum}}
                </div>
            </div>
        </div>
        <div class="row resources-row" id="datesRow">
            <div class="col-xs-12">
                <h3><span class="cursive">S</span>tatistics</h3>
                <div class="row">
                    <div class="col-xs-5 col-xs-offset-2">
                        <h4 class="excerpt-entry"># Students : {{nStudents}}</h4>
                    </div>
                    <div class="col-xs-5">
                        <h4 class="excerpt-entry"># Professors : {{nProfs}}</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-5  col-xs-offset-2">
                        <h4 class="excerpt-entry"># Courses : {{nCourses}}</h4>
                    </div>
                    <div class="col-xs-5">
                        <h4 class="excerpt-entry"># Constraints : {{nConst}}</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-10 col-xs-offset-1  text-center ">
                        <span class="excerpt-entry"><i class="fa fa-arrow-right"></i> For this session, the average number of courses per student is {{avgStudPerC}} and the average number per professor is {{avgProfPerC}}.</span>
                    </div>

                </div>
            </div>
            <div class="row text-center">
                <a class="btn btn-default btn-add" data-toggle="modal" data-target="#solvingModal" id="solve-modal-caller"><span>Solve </span><i class="fa fa-cog fa-spin"></i></a>
            </div>
        </div>
        <div class="modal fade" id="solvingModal" tabindex="-1" role="dialog" aria-labelledby="Instance solving modal" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">

                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        {{#if displayAlert}}
                            <h4 class="modal-title text-center" id="creationModalLabelAlert">This instance is already being solved</h4>
                        {{else}}
                            <h4 class="modal-title text-center" id="myModalLabel">For how much time do you want to keep searching ?</h4>
                        {{/if}}
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <!--todo limit choices for solving time-->
                            <div class="col-xs-5 col-xs-offset-2 text-right">
                                <div class="form-group">
                                    <input type="number" class="text-center form-control" id="maxTime" value="5" placeholder="5 (minutes)" data-toggle="tooltip" data-placement="top" title="The amount of time you want to spend on searching in minutes">
                                </div>
                            </div>
                            <div class="col-xs-5 ">
                                <div class="form-group">
                                    <p class="form-control-static">minutes</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        {{#if displayAlert}}
                            <a disabled type="button" class="btn btn-primary" id="solve" data-dismiss="modal">Solve</a>
                        {{else}}
                            <a type="button" class="btn btn-primary" id="solve" data-dismiss="modal">Solve</a>
                        {{/if}}
                    </div>
                </div>
            </div>
        </div>
    {{/with}}

</template>