<template name="instances">
    <div class="container-fluid basic-page" id="instancesPage">
        <div class="row full-height page">
            <div class="col-xs-3 full-height searchColumn">
                <div class="searchContainer">
                    <div class="searchBlock">
                        <div class="input-group">
                            <span class="input-group-addon searchSymbol"><i class="fa fa-search"></i></span>
                            <input type="text" class="form-control" aria-describedby="searchSymbol" id="search">
                        </div>
                    </div>
                    <div id="result-block">
                        <div id="chosenInstanceResult">
                            {{#momentum plugin='slide-height'}}
                                {{# with currentInstance}}
                                    <div class="search-result">
                                        <div class="year-level">
                                            {{month}} | {{year}}
                                        </div>
                                    </div>
                                {{/with}}
                            {{/momentum}}
                        </div>
                        <div class="result-container">
                            {{#momentum plugin='fade'}}
                                {{#each matchingInstances}}
                                    {{> displaySearchResult}}
                                {{/each}}
                            {{/momentum}}
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-9 full-height" id="instanceColumn">
                <div class="full-height" id="instance-container">
                    <div class="row" id="rowAddInstance">

                        <div class="col-xs-4">

                            {{#with currentInstance}}
                                <div class="row" id="buttonsRow">
                                    <div class="col-xs-4">
                                        <div class="row">
                                            <a class="btn btn-default btn-add" id="edit">
                                                <i class="fa fa-pencil-square-o"></i>
                                            </a>
                                            <a class="btn btn-default btn-add" id="remove"   data-toggle="modal" data-target="#removalModal">
                                                <i class="fa fa-times"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal fade" id="removalModal" tabindex="-1" role="dialog" aria-labelledby="Instance removal modal" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">

                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                <h4 class="modal-title text-center" id="myModalLabel">Are you sure?</h4>
                                            </div>
                                            <div class="modal-body">
                                                <div class="row">
                                                    <div class="col-xs-12 text-center">
                                                        Are you sure you want to remove " {{month}} | {{year}} "
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <a type="button" class="btn btn-default" data-dismiss="modal">Close</a>
                                                <a type="button" class="btn btn-primary" id="removeInstance">Remove</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {{/with}}
                        </div>
                        <div class="col-xs-4 text-center">
                        </div>

                        {{> displayInstanceCreationRow}}
                    </div>
                    <div class="row full-height" id="instanceDetails">
                        <div class="col-xs-12 full-height">
                            {{#momentum plugin='fade'}}
                                {{#with currentInstance}}
                                    {{> displayInstance}}
                                {{/with}}
                            {{/momentum}}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</template>

<template name="displaySearchResult">
    <div class="search-result">
        <div class="year-level">
            {{year}}
        </div>
        {{#momentum plugin='slide-height'}}
            {{#if isOpen}}
                <div class="month-container">
                    {{#each docs}}
                        {{> displayMonthResult}}
                    {{/each}}
                </div>
            {{/if}}
        {{/momentum}}
    </div>
</template>

<template name="displayMonthResult">
    <div class="row month-level">
        <div class="col-xs-6 col-xs-offset-5 text-left month">
            <span><i class="fa fa-graduation-cap"></i> {{month}}</span>
        </div>
    </div>
</template>

<template name="displayInstanceCreationRow">
    <div class="col-xs-4 text-right">
        <span>Add new instance</span> <a class="btn btn-default btn-add" data-toggle="modal" data-target="#creationModal"><i class="fa fa-plus"></i></a>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="creationModal" tabindex="-1" role="dialog" aria-labelledby="Instance creation modal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    {{#if displayAlert}}
                        <h4 class="modal-title text-center" id="creationModalLabelAlert">A instance of this name already exists !</h4>
                    {{else}}
                        <h4 class="modal-title text-center" id="myModalLabel">Create a new instance</h4>
                    {{/if}}
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-6">
                            <select class="form-control" id="monthPicker">
                                {{#each possibleMonth}}
                                    <option>{{month}}</option>
                                {{/each}}
                            </select>
                        </div>
                        <div class="col-xs-3">
                            <div class="form-group">
                                <input type="number" class="text-center form-control" id="year1" value="2014" data-toggle="tooltip" data-placement="top" title="Must be a year">
                            </div>
                        </div>
                        <div class="col-xs-3">
                            <div class="form-group">
                                <input disabled type="text" class="text-center form-control" id="year2" value="2015" data-toggle="tooltip" data-placement="top" title="must be previous year + 1">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <a type="button" class="btn btn-primary" id="addInstance">Create</a>
                </div>
            </div>
        </div>
    </div>

</template>