<template name="displayInstance">
    <div id="instance">
        <div class="row text-center" id="page-selector">
            <div class="col-xs-4 text-left">
                <div class="row" id="buttonsRow">
                    {{#unless isFirstPage}}<a class="btn btn-default btn-add" id="gotoPrevious"><i class="fa fa-arrow-left"> <span> {{previousPageName}}</span></i></a>{{/unless}}
                </div>
            </div>
            <div class="col-xs-4 text-center">
                <div class="row" id="buttonsRow">
                    <a class="btn btn-default btn-add" id="parse"><span>Parse File </span><i class="fa fa-file-code-o"></i>
                        <input type="file" id="fileUpload" /></a>
                </div>
            </div>
            <div class="col-xs-4 text-right">
                <div class="row" id="buttonsRow">
                    {{#unless isLastPage}}<a class="btn btn-default btn-add" id="gotoNext"><span> {{nextPageName}} </span> <i class="fa fa-arrow-right"></i></a>{{/unless}}
                </div>
            </div>
        </div>
        <form class="form-inline">
            {{#momentum plugin='switchPage'}}
                {{>displayInstanceDetailsPage}}
            {{/momentum}}

        </form>
        <div class="modal fade" id="parsingModal" tabindex="-1" role="dialog" aria-labelledby="Instance parsing modal" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">

                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        {{#if correctFile}}
                            <h4 class="modal-title text-center" id="myModalLabel">The structure seems correct</h4>
                        {{else}}
                            <h4 class="modal-title text-center" id="myModalLabel">The structure is incorrect !</h4>
                        {{/if}}
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-xs-12">
                                {{#if correctFile}}
                                    <p class="text-center">A typical row of your file is interpreted as:<br/></p>
                                    <pre>
                                    <code>{{headers}}</code>
                                    </pre>
                                {{else}}
                                    <p class="text-center">Your file should begin with a line describing your structure such as:<br/></p>
                                    <div class="well">
                                        course;profs;student;inscribed
                                    </div>

                                    <p>
                                        The following tag(s) is (are) missing:
                                    <ul>
                                        {{#if missingCourse}}<li>"course" : the field values can use the syntax "courseTag, courseName</li>{{/if}}
                                        {{#if missingProfs}}<li>"profs" : the field values can use the syntax "prof1name-prof1surname, prof2name-prof2surname, etc.</li>{{/if}}
                                        {{#if missingStudent}}<li>"student" : the field values can use the syntax "studentName, studentSurname</li>{{/if}}
                                        {{#if missingInscribed}}<li>"inscribed" : the field must be I for inscribed students, S for EPMs, B for Bologne, R for report and D for Dispense. Only I and S will be considered</li>{{/if}}
                                    </ul>
                                    You can, if you want, add custom tags (the student option, for example) in between the required ones. The order of the tags does not matter. The tags to keep for the student should begin with stud (the tag for the option would then be studOption)
                                    </p>
                                {{/if}}
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <a type="button" class="btn btn-default" data-dismiss="modal">Close</a>
                        {{#if correctFile}}
                            <a type="button" class="btn btn-primary" id="launchAnalysis" data-dismiss="modal">parse it!</a>
                        {{else}}
                            <a type="button" class="btn btn-primary pas-content" data-dismiss="modal">ok</a>
                        {{/if}}

                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<template name="displayInstanceDetailsPage">
    <div style="display: none;" id="fromto" from=1 to=2></div>
    {{#if isFirstPage}}
        <div class="col-xs-12 full-height no-padding sliding-page" id="page1">
            {{> displayExcerpt}}
        </div>
    {{/if}}
    {{#if isStudentPage}}
        <div class="col-xs-12 full-height no-padding sliding-page" id="page2">
            {{> displayStudentsOfInstance}}
        </div>
    {{/if}}
    {{#if isCoursePage}}
        <div class="col-xs-12 full-height no-padding sliding-page" id="page3">
            {{> displayCoursesOfInstance}}
        </div>
    {{/if}}
    {{#if isProfessorPage}}
        <div class="col-xs-12 full-height no-padding sliding-page" id="page4">
            {{> displayProfessorsOfInstance}}
        </div>
    {{/if}}
    {{#if isSFCPage}}
        <div class="col-xs-12 full-height no-padding sliding-page" id="page5">
            {{> displayStudentFollowsCoursesOfInstance}}
        </div>
    {{/if}}
    {{#if isPTCPage}}
        <div class="col-xs-12 full-height no-padding sliding-page" id="page6">
            {{> displayProfessorTeachesCoursesOfInstance}}
        </div>
    {{/if}}
    {{#if isConstraintPage}}
        <div class="col-xs-12 full-height no-padding sliding-page" id="page7">
            {{>displayConstraintsOfInstance}}
        </div>
    {{/if}}

    <!--todo popovers on all buttons-->
</template>
