
<template name="displayProfessorTeachesCoursesOfInstance">
    <div class="row resources-row" id="professorTeachesCoursesRow">
        <div class="col-xs-12">

            <div class="row">
                <div class="row">
                    <div class="col-xs-7">
                        <h3><span class="cursive">T</span>eachings ({{nTeach}})</h3>
                    </div>
                    <div class="col-xs-3 browsingRow">
                        <div class="input-group inline-search-container searchBlock  text-right">
                            <span class="input-group-addon searchSymbol"><i class="fa fa-search"></i></span>
                            <input type="text" class="form-control" aria-describedby="searchSymbol" id="searchResource">
                        </div>
                    </div>
                    <div class="col-xs-2 browsingRow text-center">
                        <a class="btn btn-default btn-add browsingButton" id="loadPrevious"><i class="fa fa-arrow-left"></i></a>
                        <a class="btn btn-default btn-add browsingButton" id="loadNext"><i class="fa fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <div>
                {{#momentum plugin='fade'}}
                    {{#each links}}
                        {{> displayProfessorTeachesCourseOfInstance}}
                    {{/each}}
                {{/momentum}}

                {{#momentum plugin='slide-height'}}
                    {{#if editing}}
                        {{> editProfessorTeachesCourseOfInstance}}
                    {{/if}}
                {{/momentum}}
            </div>
            {{#momentum plugin='slide-height'}}
                {{#if editing}}
                    <div class="row">
                        <div class="col-xs-1 col-xs-offset-11">
                            <a class="btn btn-default btn-add add-row" id="addProfessorTeachesCourseRow"><i class="fa fa-plus"></i></a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-1 col-xs-offset-11">
                            <a class="btn btn-default btn-add submit" id="submitProfessorTeachesCourses" data-toggle="popover" data-placement="left"
                               title="submit professorTeachesCourses"><i class="fa fa-cloud"></i></a>
                        </div>
                    </div>
                {{/if}}
            {{/momentum}}

        </div>
    </div>
</template>
<template name="displayProfessorTeachesCourseOfInstance">
    <div class="row resource-row" professorTeachesCourse>
        <div class="col-xs-5 col-xs-offset-1">
            <div class="form-group">
                <select disabled  class="form-control" id="professor" value="{{name}}, {{surname}}">
                    <option>{{name}}, {{surname}}</option>
                </select>
            </div>
        </div>
        <div class="col-xs-1 follows">teaches</div>
        <div class="col-xs-4">
            <div class="form-group">
                <select disabled  class="form-control" id="course" value="{{courseTag}} ({{courseName}})">
                    <option>{{courseTag}} ({{courseName}})</option>
                </select>

            </div>
        </div>
        <div class="col-xs-1 remColumn">
            <a {{disabled}} class="btn btn-default btn-add remResourceRow"><i class="fa fa-times"></i></a>
        </div>
    </div>
</template>
<template name="editProfessorTeachesCourseOfInstance">

    <div class="row resource-row editionRow" professorTeachesCourseEdition>
        <div class="col-xs-1 text-right label-row">
            <label for="name">New link</label>
        </div>
        <div class="col-xs-5">
            <div class="form-group">
                <div class="select-img"><i class="fa fa-caret-down"></i></div>
                <select class="form-control" id="professor" value="">
                    {{#each professors}}
                        <option value="{{_id}}">{{name}}, {{surname}}</option>
                    {{/each}}
                </select>
            </div>
        </div>
        <div class="col-xs-1 follows">teaches</div>
        <div class="col-xs-4">

            <div class="form-group">
                <div class="select-img"><i class="fa fa-caret-down"></i></div>
                <select   class="form-control" id="course" value="">
                    {{#each courses}}
                        <option value="{{_id}}">{{tag}} ({{name}})</option>
                    {{/each}}
                </select>
            </div>
        </div>
        <div class="col-xs-1 remColumn">
            <a class="btn btn-default btn-add remEditionRow" ><i class="fa fa-times"></i></a>
        </div>
    </div>


</template>
