
<template name="displayStudentsOfInstance">
    <div class="row resources-row" id="studentsRow">
        <div class="col-xs-12">

            <div class="row">
                <div class="row">
                    <div class="col-xs-7">
                        <h3><span class="cursive">S</span>tudents ({{st}}-{{en}}|{{nStudents}})</h3>
                    </div>
                    <div class="col-xs-3 browsingRow">
                        <div class="input-group inline-search-container searchBlock  text-right">
                            <span class="input-group-addon searchSymbol"><i class="fa fa-search"></i></span>
                            <input type="text" class="form-control" aria-describedby="searchSymbol" id="searchResource">
                        </div>
                    </div>
                    <div class="col-xs-2 browsingRow text-center">
                        <a class="btn btn-default btn-add browsingButton" id="loadPrevious"><i class="fa fa-arrow-left"></i></a>
                        <a class="btn btn-default btn-add browsingButton" id="loadNext"><i class="fa fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <div>
                {{#momentum plugin='fade'}}
                    {{#each students}}
                        {{> displayStudentOfInstance}}
                    {{/each}}
                {{/momentum}}

                {{#momentum plugin='slide-height'}}
                    {{#if editing}}
                        {{> editStudentOfInstance}}
                    {{/if}}
                {{/momentum}}
            </div>
            {{#momentum plugin='slide-height'}}
                {{#if editing}}
                    <div class="row">
                        <div class="col-xs-1 col-xs-offset-11">
                            <a class="btn btn-default btn-add add-row" id="addStudentRow"><i class="fa fa-plus"></i></a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-1 col-xs-offset-11">
                            <a class="btn btn-default btn-add submit" id="submitStudents" data-toggle="popover" data-placement="left"
                               title="submit students"><i class="fa fa-cloud"></i></a>
                        </div>
                    </div>
                {{/if}}
            {{/momentum}}

        </div>
    </div>
</template>
<template name="displayStudentOfInstance">
    <div class="row resource-row" appId="{{_id}}" student>
        <div class="col-xs-6 col-xs-offset-1">
            <div class="form-group">
                <input {{disabled}}  type="text" class="form-control" id="name" value="{{name}}">
            </div>
        </div>
        <div class="col-xs-4">

            <div class="form-group">
                <input {{disabled}} type="text" class="form-control" id="surname" value="{{surname}}">
            </div>
        </div>
        <div class="col-xs-1 remColumn">
            <a {{disabled}} class="btn btn-default btn-add remResourceRow"><i class="fa fa-times"></i></a>
        </div>
    </div>
</template>
<template name="editStudentOfInstance">

    <div class="row resource-row editionRow" studentEdition>
        <div class="col-xs-1 text-right label-row">
            <label for="name">New Student</label>
        </div>
        <div class="col-xs-6">
            <div class="form-group">
                <input type="text" class="form-control" id="name" placeholder="Name">
            </div>
        </div>
        <div class="col-xs-4">

            <div class="form-group">
                <input type="text" class="form-control" id="surname" placeholder="Surname">
            </div>
        </div>
        <div class="col-xs-1 remColumn">
            <a class="btn btn-default btn-add remEditionRow" ><i class="fa fa-times"></i></a>
        </div>
    </div>


</template>
