
<template name="displayStudentFollowsCoursesOfInstance">
    <div class="row resources-row" id="studentFollowsCoursesRow">
        <div class="col-xs-12">

            <div class="row">
                <div class="row">
                    <div class="col-xs-7">
                        <h3><span class="cursive">E</span>nrolments ({{nEnrol}})</h3>
                    </div>
                    <div class="col-xs-3 browsingRow">
                        <div class="input-group inline-search-container searchBlock  text-right">
                            <span class="input-group-addon searchSymbol"><i class="fa fa-search"></i></span>
                            <input type="text" class="form-control" aria-describedby="searchSymbol" id="searchResource">
                        </div>
                    </div>
                    <div class="col-xs-2 browsingRow text-center">
                        <a class="btn btn-default btn-add browsingButton" id="loadPrevious"><i class="fa fa-arrow-left"></i></a>
                        <a class="btn btn-default btn-add browsingButton" id="loadNext"><i class="fa fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <div>
                {{#momentum plugin='fade'}}
                    {{#each links}}
                        {{> displayStudentFollowsCourseOfInstance}}
                    {{/each}}
                {{/momentum}}

                {{#momentum plugin='slide-height'}}
                    {{#if editing}}
                        {{> editStudentFollowsCourseOfInstance}}
                    {{/if}}
                {{/momentum}}
            </div>
            {{#momentum plugin='slide-height'}}
                {{#if editing}}
                    <div class="row">
                        <div class="col-xs-1 col-xs-offset-11">
                            <a class="btn btn-default btn-add add-row" id="addStudentFollowsCourseRow"><i class="fa fa-plus"></i></a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-1 col-xs-offset-11">
                            <a class="btn btn-default btn-add submit" id="submitStudentFollowsCourses" data-toggle="popover" data-placement="left"
                               title="submit studentFollowsCourses"><i class="fa fa-cloud"></i></a>
                        </div>
                    </div>
                {{/if}}
            {{/momentum}}

        </div>
    </div>
</template>
<template name="displayStudentFollowsCourseOfInstance">
    <div class="row resource-row" studentFollowsCourse>
        <div class="col-xs-5 col-xs-offset-1">
            <div class="form-group">
                <select disabled  class="form-control" id="student" value="{{name}}, {{surname}}">
                    <option>{{name}}, {{surname}}</option>
                </select>
            </div>
        </div>
        <div class="col-xs-1 follows">follows</div>
        <div class="col-xs-4">
            <div class="form-group">
                <select disabled  class="form-control" id="course" value="{{courseTag}}{{#if courseName}} ({{courseName}}){{/if}}">
                    <option>{{courseTag}} ({{courseName}})</option>
                </select>

            </div>
        </div>
        <div class="col-xs-1 remColumn">
            <a {{disabled}} class="btn btn-default btn-add remResourceRow"><i class="fa fa-times"></i></a>
        </div>
    </div>
</template>
<template name="editStudentFollowsCourseOfInstance">

    <div class="row resource-row editionRow" studentFollowsCourseEdition>
        <div class="col-xs-1 text-right label-row">
            <label for="name">New link</label>
        </div>
        <div class="col-xs-5">
            <div class="form-group">
                <div class="select-img"><i class="fa fa-caret-down"></i></div>
                <select class="form-control" id="student" value="">
                    {{#each students}}
                        <option value="{{_id}}">{{name}} {{#if surname}}, {{surname}}{{/if}}</option>
                    {{/each}}
                </select>
            </div>
        </div>
        <div class="col-xs-1 follows">follows</div>
        <div class="col-xs-4">

            <div class="form-group">
                <div class="select-img"><i class="fa fa-caret-down"></i></div>
                <select   class="form-control" id="course" value="">
                    {{#each courses}}
                        <option value="{{_id}}">{{tag}}{{#if name}} ({{name}}){{/if}}</option>
                    {{/each}}
                </select>
            </div>
        </div>
        <div class="col-xs-1 remColumn">
            <a class="btn btn-default btn-add remEditionRow" ><i class="fa fa-times"></i></a>
        </div>
    </div>


</template>
